{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Register</h1>
<h5>Become a follower of your favorite FoodTrucks</h5>

<form action="/register-process" method="POST">

    <div class="form-group">
        <label>
            Email / Login 
            <input type="email" name="email" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            First Name
            <input type="text" name="fname" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Last Name
            <input type="text" name="lname" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            Phone 
            <input type="text" name="phone" class="form-control" value="999-888-7777">
        </label>
    </div>
    <script>
    //validate phone
        var phone = $('input[name="phone"]').val(),
        intRegex = /[0-9 -()+]+$/;
        if((phone.length < 6) || (!intRegex.test(phone)))
        {
             alert('Please enter a valid phone number.');
             return false;
        }

    </script>           
    <div class="form-group">
        <label>
            Zipcode
            <input type="text" name="zipcode" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-success">
    </div>

</form>
</div>
{% endblock %}