{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:30%;">
    <h1>Register</h1>
    
    <h3>Become a follower of your favorite FoodTrucks</h3>

        <div id="registration-form">
            <form action="/register-process" method="POST">

                <h5>Email / Login </h5>
                <input type="email" name="email" size="20" class="form-control">
                
                <h5>Password</h5>
                <input type="password" name="password" class="form-control" size="35">

                <h5>First Name</h5>
                <input type="text" name="fname" class="form-control">
                
                <h5>Last Name</h5>
                <input type="text" name="lname" class="form-control">
                
                <h5>Phone</h5>
                <input type="text" name="phone" class="form-control" value="5108675309"> 
                <script>
                //validate phone number
                    var phone = $('input[name="phone"]').val(),
                    intRegex = /[0-9 -()+]+$/;
                    if((phone.length < 6) || (!intRegex.test(phone)))
                    {
                      alert('Please enter a valid phone number.');
                      return false;
                    }
             
                </script>           
                        
                        
                <h5>Zipcode</h5>
                <input type="text" name="zipcode" class="form-control">
                <br>
                <input type="submit" value="Register" class="btn btn-success">
            </form>
        </div>


</div>
{% endblock %}