{% extends 'base.html' %}
{% block content %}


<div class="well spaced" style="width:95%;">
<!-- start -->

<div id="exTab1" class="container"> 
<ul  class="nav nav-pills">
      <li class="active">
        <a  href="#1a" data-toggle="tab">{{ truck.name }}</a>
      </li>
      <li><a href="#2a" data-toggle="tab">Map</a>
      </li>
      <li><a href="#3a" data-toggle="tab">Tweets</a>
      </li>
    </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
          <div>
              <h1>{{ truck.name }} </h1>
              <div><h5><p>{{ truck.descrip }}</p></h5></div>

              <div id="schedule-toggle" style="visibility: hidden">
                <h5><p>We're at {{mySchedule.location.street_address}} in {{mySchedule.location.city}} right now!</h5></p>
              </div> 
              
              <script>
                if (mySchedule.location.street_address != None){
                  $("#schedule-toggle").show(fast);

                }

              </script>
              
              <div id="web">
                <h5>
                <a href="{{ truck.web_link }}" target="_blank"> 
                  <img src="/static/foodtruck_small.png" alt="{{ truck.name }} web site" style="width:45px;height:45px;border:0;">
                </a>
                <span style="color:black">Check out {{ truck.name }} website!</span>
                </h5>

              </div> <!--END OF THE WEB DIV  -->


              <div id="yelp">
                

                <a href="{{ truck.yelp_link }}" target="_blank"> 
                <img src="/static/yelp_btn/yelp_review_btn_red@3x.png" alt="{{ truck.name }} yelp" style="width:205px;height:40px;border:0;">
                </a>

              </div><!--END OF THE YELP DIV  -->



          </div>
        </div>

        <div class="tab-pane" id="2a">
          <div id="calendars">

              <div class="row">
                <div class="col-md-6">
                  <form>
                    <div class="form-group whereami">
                      <div id="schedule-search-now" class="btn btn-primary">Where is {{truck.name}} now?</div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Search upcoming dates:</label>
                      <input type="date" class="form-control" id="day" placeholder="Search Date..">
                      <input type="hidden" id="truck-id" value="{{ truck.truck_id }}">
                    </div>

                    <div class="form-group">
                      <div id="schedule-search" class="btn btn-primary">Search</div>
                      <div id="get-directions" class="btn btn-primary">Give Me Directions!</div>
                    </div>

                  </form>


                </div>
              </div>


            </div>

              <div id="map" style="height:350px;"> </div>
        </div>



        <div class="tab-pane" id="3a">

                <div id='timeline'> 

                  <a class="twitter-timeline" href="{{ truck.twitter_handle }}" data-widget-id="{{ truck.widget_id }}">Tweets by @{{ truck.twitter_handle }}</a>
                    
                <script>
                !function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id))
                      {js=d.createElement(s);
                      js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js,fjs);
                      }
                    }(document,"script","twitter-wjs");
                </script>
              
                </div>
        </div>

      </div>
  </div>

<hr></hr>


<!-- stop -->

<script src="/static/js/truck-schedules.js"></script>

</div><!-- END OF WELL SPACED DIV -->
{% endblock %}