{% extends 'base.html' %}
{% block content %}
<br>

<div class="well spaced" style="width:97%" id="top-level">
  <h2>{{ user.fname }} {{ user.lname }}</h2>

  <b><p style="color:#9acd32">Email/Login: {{ user.email }}</p>  
    <!-- TO DO: Make the phone number display in a nice format -->
  <p style="color:#9acd32">Phone: {{ user.phone }}</p></b>

  <!-- Iterate through the trucks and display each as a link -->
  <h2>{{ user.fname }}'s FoodTrucks</h2>
</div>


<!-- These are trucks the user is currently following -->
<div class="well spaced" style="width:97%" id="form-1">
 
  <h4>Click the link to get more details about the truck.<br>
  To Unfollow a truck, click the checkbox.<br>
  When you are done submit the form.</h4><br>"
  
  <form id="update-truck-form" action="/update-trucks" method="post">
    <fieldset id=watching>
    <ol>
      {% for truck in user.trucks %}
        <li>
        <a href="/trucks/{{ truck.truck_id }}">{{ truck.name}}</a> 
        <input type="checkbox" name="{{truck.truck_id}}"><br>
      </li>
      {% endfor %}
    </ol>
  </fieldset>

</div>

 <!-- Trucks a user not currently following -->
<div class="well spaced" style="width:97%" id="form-1">
    <h4>Preview trucks by clicking a link and select more trucks to follow:</h4>
    <fieldset id="not-watching">
     <ul>
      {% for truck in truck_list %}
        <li>
        <a href="/trucks/{{ truck.truck_id }}">{{ truck.name}}</a> 
        <input type="checkbox" name="{{truck.truck_id}}"><br>
        </li>  
      {% endfor %}
     </ul>
    </fieldset>
     <br>
     <br>
    <button type="button" id="btn-ser1">Submit Your Changes</button>
  </form> 
<!-- end of the form that spans 2 div's -->

</div>

<script src="/static/js/truck-update.js"></script>

{% endblock %}